*{
    margin: 0;
    font-family:Arial,Helvetica,sans-serif;
    border: border-box;
}
body{
    background: #0a162a;
}

/* navigation Bar */
header{
    height: 60px;
    background: linear-gradient(90deg,#192330,#9ea1ad);
    display: flex;
    position: fixed;
    width: 100%;
}
.nav_name{
    height: 60px;
    display: flex;
    color: white;
    align-items: center;
    font-weight: 600;
}
.icon{
    height: 40px;
    width: 40px;
    background-size: cover;
    padding: 15px 20px 10px 20px;
}
.nav_button{
    margin-left: 45%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.nav_hire{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#184286,#4c72b7);
    color: white;
    margin: 10px;
    border-radius: 35px;
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.nav_button a{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.nav_button a::after{
    content: "";
    position: absolute;
    display: block;
    height: 6px;
    width: 0;
    background-color: #184286;
    margin-top: 6px;
    transition: 0.5s;
}
.nav_button a:hover::after{
    width: 100%;
}
.nav_button a:hover{
    color: #184286;
    transition: all ease-in-out 250ms;
}
.nav_hire:hover{
    border: 2px solid #8bb4f6;
    font-weight: 700;
    box-shadow:3px 3px 3px #8bb4f6;
}
.heroSection{
    background-image:url(main_bag.jpeg) ;
    height: 735px;
    width: 100%;
    background-size: cover;
}
#hrline{
    margin-top:20px ;
    margin-bottom: 20px;
    margin-left: 60px;
    border: none;
    height: 5px;
    width: 725px;
    background: linear-gradient(90deg,#20498d,#4c71b70c);
}
.hello{
    margin-left: 60px;
    padding-top: 150px;
    font-size: 20px;
    font-weight: 500;
    color: #5469b6;
}
.name{
    margin-left: 60px;
    font-size: 70px;
    font-weight: 800;
    background: -webkit-linear-gradient(0deg,#9dbcf6 ,#2054a8 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profession{
    margin-left: 60px;
    font-size: 29px;
    font-weight: 600;
    color: #cdd1d7;
}
.myInfo{
    margin-left: 60px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    color: #a1a8b2;
}
.heroButton{
    margin-top: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
}
.contectDow{
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fefefe;
    cursor: pointer;
}
.downloadIcon{
    padding-left: 10px;
    color: #fefefe;
}
#contectButton{
    background: linear-gradient(90deg,#4c72b7,#184286);
    border: 1px solid #184286;
    border-radius: 50px;
}
#downloadButton{
    border: 1px solid #a1a8b290;
    border-radius: 50px;
}
.contectDow:hover{
    background-color: #eef2f854;
    transition: ease-in-out 0.5s;
    box-shadow:3px 3px 3px #eef2f854;
}
#contectButton:hover{
    background-color: rgba(245, 245, 245, 0.444);
    box-shadow:3px 3px 3px #8bb4f6;
    transition: 0.5s;
}
.aboutSection{
    height: 675px;

}
.titleSection{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 800;
    background: -webkit-linear-gradient(0deg,#9dbcf6 ,#183a70 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.abouthr{
    margin-top: 15px;
    height: 5px;
    width: 100px;
    background:#576cbc;
    display: flex;
    justify-self: center;
}
.aboutText{
    width: 900px;
    height: 375px; 
    display: flex;
    justify-self: center;
    margin-top: 60px;
    background-color: #ffffff0f;
    border-radius: 20px;
    border-left: 5px solid #576cbc;
}
.aboutText p{
    padding-left: 75px;
    margin-top: 25px;
    width: 750px;
    height: 300px;
    font-size: 18px;
    line-height: 2;
    color: #e8eaec;
    text-align: center;

}
.skillsSection{
    height: 675px;
}
.skillsTitle{
    color: #576cbc;
    font-size: 22px;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 30px;
    border-left: 5px solid #576cbc;
    padding-left: 15px;
}
.keySkills{
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 70px;
}
.skills{
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 30px;
    width: 120px;
    height: 50px;
    background-color: #ffffff27;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 0.5px solid #8bb4f6;
}
.skills:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
    /* box-shadow:3px 3px 3px #eef2f854; */
    box-shadow:3px 3px 3px #8bb4f6;
}
.projestSection{
    height: 675px; 
}

.AllProject{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}
.project{
    background-color: #ffffff0f;
    height: 450px;
    width: 425px;
    border-radius: 30px;
}
.porjectImage1{
    height: 250px;
    width: 425px;
    background-image:url(project1.png) ;
    background-size: cover;
    border-radius: 30px 30px 0px 0px;
}
.projectTitle{
    color: white;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 16pt;
    font-weight: 600;
}
.proDescription{
    color: #c6cad0;
    width: 400px;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14pt;
}
.project:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
    border: 1px solid #8bb4f6;
    box-shadow:15px 15px  50px black;
}
.contactSection{
    height: 755px;
}
.letConnect{
    height: 475px;
    width: 700px;
    background-color: #ffffff0f;
    justify-self: center;
    margin-top: 30px;
    border-radius: 30px;
}
.connectTitle{
    color: #6979d0;
    font-size: 24px;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 50px;
}
.connectDes{
    color:#c6cad0;
    padding-top: 20px;
    padding-left: 50px;
}
.connectLink{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 500px;
    background-color: #ffffff0f;
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 20px;
    border-radius: 10px;
}
.connectIcon{
    height: 40px;
    width: 40px;
    padding-right: 10px;
}
.connectLink:hover{
    margin-left: 60px;
    border: 1px solid #8bb4f6;
    transition: ease-in-out 0.3s;
}
.connectHr{
    margin-top: 30px;
    height: 1px;
    background-color: #ffffff0f;
    width: 600px;
    justify-self: center;
}
.gmail{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
.mailLoc{
    color: #6979d0;
}
.address{
    margin-top: 5px;
    color: white;
}